
body
{/*font color of choose color and pen width*/
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
    color:grey;
}
h1
{/*heading color*/
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    height:100%;
    display:flex;
     flex-direction: column;
}
#toolbar{
    
     position: relative;
      display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: start;
    
    width: 100%;
    padding: 10px;
    background-color: pink;
    gap: 10px; 
    box-sizing: border-box;
}


#toolbar *{
    margin-bottom:0px;
    margin-top:0px;
}
#toolbar label{
    font-size:15px;
}/*
#toolbar input{
    width:100%;
}
*/
#toolbar input[type="color"],
#toolbar input[type="number"] {
    width: 20%;
    margin: 0 10px;
}
/*clear button*/
#toolbar button{
    background-color:#7F7FD5;
    border:none;
    border-radius:15px;
    color:white;
    padding:5px 10px;
}
    

.drawing-board {
    flex: 1;
}

#drawing-board {
    width: 100%;
    height: 100%;
    display: block;
}

.logo-fixed {
    position: absolute;
    top: 3px;
    right: 40px;
    height: 42px;
}